<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>share_teach_learn</title>
    <!-- development version, includes helpful console warnings -->
    <!--script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script-->
    <!-- production version, optimized for size and speed -->
    <!-- script src="https://cdn.jsdelivr.net/npm/vue@2"></script -->
    <!--link href="https://cdn.jsdelivr.net/npm/quasar@2.4.13/dist/quasar.prod.css" rel="stylesheet" type="text/css"-->

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app">
        <v-app>
            <v-app-bar app>
                <h1>share_teach_learn <v-icon>mdi-share-variant </v-icon>
                    <v-icon>mdi-bulletin-board</v-icon>
                    <v-icon>mdi-school</v-icon>
                </h1>
            </v-app-bar>
            <v-main>
                <v-container>
                    <v-row class="text-h3 my-4">
                        {{ header }}
                    </v-row>

                    <v-combobox v-model="chosenCategories" :items="items" chips clearable label="Kategorien" multiple
                        prepend-icon="mdi-filter-variant" solo>
                        <template v-slot:selection="{ attrs, item, select, selected }">
                            <v-chip v-bind="attrs" :input-value="selected" close @click="select"
                                @click:close="remove(item)">
                                {{ item }}
                            </v-chip>
                        </template>
                    </v-combobox>

                    <v-row>
                        <v-text-field label="Suchbegriff" v-model="searchText" solo clearable>
                        </v-text-field>
                    </v-row>

                    </p>
                </v-container>
                <v-container>
                    <v-row>
                        <v-card class="ma-3 d-flex flex-column" width="350" v-for="file in storedFiles"
                            v-bind:key="file.id"
                            v-if="file.description.includes(searchText) || file.filename.includes(searchText)">
                            <v-card-text>
                                <div> <img :src="file.preview" width="300" height="300"> </div>
                                <p class="text-h5 text--primary">
                                    {{ file.filename }}
                                </p>
                                <div class="text--primary">
                                    {{ file.description }}
                                </div>
                                <div class="mt-auto">
                                    <v-chip v-for="c in file.categories" v-bind:key="c" small >{{ c }}</v-chip>
                                </div>
                            </v-card-text>
                            <v-spacer></v-spacer>
                            <v-card-actions>
                                <v-btn text color="teal accent-4" @click="">Herunterladen</v-btn>
                                <v-btn text color="teal accent-4" @click="">Löschen</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-row>
                    <v-row>
                        <v-dialog v-model="showUploadDialog" width="500">
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn class="ml-auto" fab dark color="green" elevation="8" v-bind="attrs" v-on="on">
                                    <v-icon>mdi-plus</v-icon>
                                </v-btn>
                            </template>

                            <v-card>
                                <v-card-title class="text-h5 grey lighten-2">
                                    Neue Datei hochladen...
                                </v-card-title>
                                <v-card-text>
                                    <v-file-input accept="image/*" label="File input"></v-file-input>
                                </v-card-text>
                                <v-divider></v-divider>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="primary" text @click="showUploadDialog = false">
                                        Hochladen
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-row>
                </v-container>

            </v-main>
            <v-footer app>
                <v-container class="text-center">
                    <v-icon>mdi-copyright</v-icon>
                    Christian Wichmann, 2022
                </v-container>
            </v-footer>
        </v-app>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        // register modal component
        Vue.component('modal', {
            template: '#modal-template'
        });
        var app = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            methods: {
                remove: function (item) {
                    this.chosenCategories.splice(this.chosenCategories.indexOf(item), 1)
                    this.chosenCategories = [...this.chosenCategories]
                },
                loadCategories: function () {
                    console.log('Loading categories from server...');
                    axios.get('/categories')
                        .then(response => {
                            console.log(response);
                            this.items = response.data.contentTypes.concat(response.data.classes).concat(response.data.schoolTypes).concat(response.data.subjects);
                        })
                        .catch(err => {
                            console.log(err);
                        });
                }
            },
            mounted() {
                this.loadCategories();
            },
            watch: {
                chosenCategories: function (val) {
                    console.log('Categories changed...');
                    if (this.chosenCategories.length === 0) {
                        this.storedFiles = [];
                    }
                    else {
                        axios.post('/files/filter', {
                            'categories': this.chosenCategories
                        })
                            .then(response => {
                                console.log(response);
                                this.storedFiles = response.data.storedFiles;
                            })
                            .catch(err => {
                                console.log(err);
                            });
                    }
                }
            },
            data: {
                header: 'Open Educational Ressources',
                searchText: '',
                showUploadDialog: false,
                chosenCategories: [],
                items: [],
                storedFiles: [],
            },

        })

    </script>
</body>

</html>